* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("../Image/f887d0985bd5369f79897c7b8a3c31db.jpg");
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    right: 10%;
    position: absolute;
    width: 350px;
}

.login-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #9b59b6;
    font-size: 12px;
}

.button-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #9b59b6;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button-group button:hover {
    background: #1b3a67;
}

.signup-link {
    color: #fff;
    margin-top: 15px;
}

.signup-link a {
    color: #9b59b6;
    text-decoration: none;
}
